ul {
    margin-top: 30px;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    background-color:lightgrey;
    margin-top: 0;
    top: 0;
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }
  
  li {
    border-radius: 5px;
    font-weight: bold;
    font: 10px;
    padding: 10px;
    color:gray;
    cursor: pointer;
  }
  li:hover:nth-child(odd) {
    background-color:rgb(241, 255, 255);
    
  }
  li:hover:nth-child(even) {
    background-color: lightcyan;
  }
.container{
    display: flex;
    flex-direction: row;
}

.content{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}